:root {

    --ff-base: 'PT Sans', sans-serif;

    --fw-400: 400;
    --fw-700: 700;

    --fs-12: 0.75rem;    
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-36: 2.25rem;

    --clr-neutral-white: #fff;
    --clr-neutral-dark: #171717;

    --clr-accent-400: #59E89C;
}

/* ////////////////
    Rest
//////////////// */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ////////////////
    Utility
//////////////// */

/* ////////////////
    Basic
//////////////// */

body {
    color: var(--clr-neutral-dark);
    font-family: var(--ff-base);
    font-weight: var(--fw-400);    
    margin: 0;
    min-height: 100vh;
}

/* ////////////////
    Typeography
//////////////// */

* {
    margin-top: 0;
}

h1 {
    font-size: var(--fs-36);
    font-weight: var(--fw-400);
}

.cta span {
    font-weight: var(--fw-700);
}

.cta p {
    margin-bottom: 2em;
}

/* ////////////////
    Layout
//////////////// */

.hero {
    background-image: url(./assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1em;
}

.cta {
    text-align: center;
    padding: 1.5em;    
    max-width: 47.25rem;
    background: var(--clr-neutral-white);

}

/* ////////////////
    Components
//////////////// */

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;    
    padding: 1em 2em;
    letter-spacing: 2px;
    font-weight: var(--fw-700);
    font-size: var(--fs-18);
    color: var(--clr-neutral-dark);
    background: var(--clr-accent-400);    
}